.cart {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #e1e1e1;
  z-index: 1;
  transition: all .25s ease-in-out;
  height: 230px;
}

.cart_active {
  bottom: 0;
}

.cartList {
  display: flex;
  padding: 20px;
  overflow-x: auto;
  height: 100%;
}

.cartListItem {
  margin-right: 30px;
  margin-top: 50px;
  position: relative;
}

.cartListItem__removeBtn {
  position: absolute;
  left: -10px;
  top: -5px;
  height: 20px;
  width: 20px;
  display: none;
}

.cartListItem__removeBtn img {
  height: 100%;
  width: 100%;
  display: block;
}

.cartListItem:hover .cartListItem__removeBtn {
  display: block;
  cursor: pointer;
}

.cartListItem__image  {
  width: 110px;
}

.cartEmpty {
  text-align: center;
  margin-top: 80px;
  font-size: 30px;
  font-weight: bold;
  opacity: .9;
}

.cartCloseBar {
  position: absolute;
  text-align: center;
  border: solid 1px #ddd;
  width: 100%;
  height: 35px;
  top: 0;
  opacity: .6;
  cursor: pointer;
}
